// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$sml: 10px;
$med: 50px;
$lg: 100px;

.posts{
 margin: $med;
}

.card, .card-footer{
	background-color: #7e8cf31f !important;
}