// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$basic: 10px;
$med: 50px;

.mt10{
	margin-top: 10px;
}

#login-wrapper{
	padding: $basic;
	color: white;
}

.login-button{
	@extend .mt10;
}