// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$small: 200px;
$mid: 500px;

.modal-content{
	width: $mid;
}

.card-img-top{
	max-height: $small;
}

.user-info-card{
	position: fixed !important;
	display: block;
}